name: Package
on:
  push:
    branches:
      - master
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  create_release:
    name: Create Release
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: ${{ github.ref_name }}
          tag: ${{ github.ref_name }}
          generateReleaseNotes: true
          allowUpdates: true
          draft: false
          prerelease: false
          body: |
            libaribb1 / libaribb25 ともに、libaribb25 のアーカイブに含まれています。
            0.2.9 以降では、[stz2012/recpt1](https://github.com/stz2012/recpt1) などの libari<ins>**b**</ins>25 に依存しているソフトウェアとの互換性が追加されました。
            stz2012 版 libari**b**25 の代替として利用可能です。

            Debian パッケージをインストールするには、`sudo apt install ./libaribb25_${{ github.ref_name }}_(amd64|arm64).deb` と実行してください。
            Debian パッケージの動作には、Ubuntu 20.04 (glibc 2.31) 以降の OS が必要です。
            Debian パッケージをインストールすると、依存する libpcsclite1 も自動的にインストールされます。

            - libaribb25_${{ github.ref_name }}_windows.zip: Windows (32bit/64bit) 用ビルド済みアーカイブ
              - 展開したフォルダ内の 32bit/ に 32bit 版、64bit/ に 64bit 版のバイナリが含まれます。
            - libaribb25_${{ github.ref_name }}_amd64.deb: Debian/Ubuntu (x64) 用 Debian パッケージ
            - libaribb25_${{ github.ref_name }}_arm64.deb: Debian/Ubuntu (arm64) 用 Debian パッケージ

            > [!TIP]
            > **私が Contributor として開発に参加している [recisdb](https://github.com/kazuki0824/recisdb-rs) の `recisdb decode` コマンドでは、`b25` / `arib-b25-stream-test` コマンド相当の機能が内蔵されています！**
            > arib-b25-stream-test のドロップイン代替としても使えますし、ファイルを後からデコードする使い方もできます。
            > recisdb での内部では libaribb25 が使われているため、B25 デコードの速度や品質に違いはないはずです。
            >
            > さらに、**recisdb では `--card` オプションで利用するカードリーダー名を指定できます。** B-CAS と C-CAS を併用しているなど、一部のニッチなユースケースでは有用かもしれません。
            > `recisdb tune` コマンドでは、DVB デバイス / Chardev デバイスかを問わず受信でき、またデフォルトで B25 デコードが行われます。recpt1 / dvbv5-zap と arib-b25-stream-test の組み合わせよりもシンプルにできますので、よろしければお試しください。
            > ([CS 受信時にドロップする問題](https://github.com/kazuki0824/recisdb-rs/issues/110) は recisdb v1.2.4 以降で修正済みです！)

            ### libaribb1
            - **b1.exe / b1**
              - ARIB STD-B1 記載の処理を行うためのプログラム
              - MULTI2 で暗号化された TS を、スカパーカードと通信し復号して出力する
            - **arib-b1-stream-test.exe / arib-b1-stream-test**
              - 上記のプログラムに変更を加え、標準入力から MULTI2 で暗号化された TS を受け、復号した TS を標準出力に出力するプログラム
            - **libaribb1.dll / libaribb1.so**
              - MULTI2 復号処理を行うライブラリ
              - Windows では、libaribb1.dll は B1Decoder.dll と互換性がある
            - **B1Decoder.dll** (Windows のみ)
              - libaribb1.dll をリネームしただけのもので、ファイル内容は同じ
            ### libaribb25
            - **b25.exe / b25**
              - ARIB STD-B25 記載の処理を行うためのプログラム
              - MULTI2 で暗号化された TS を、B-CAS カードと通信し復号して出力する
            - **arib-b25-stream-test.exe / arib-b25-stream-test**
              - 上記のプログラムに変更を加え、標準入力から MULTI2 で暗号化された TS を受け、復号した TS を標準出力に出力するプログラム
            - **libaribb25.dll / libaribb25.so**
              - MULTI2 復号処理を行うライブラリ
              - Windows では、libaribb25.dll は B25Decoder.dll と互換性がある
            - **B25Decoder.dll** (Windows のみ)
              - libaribb25.dll をリネームしただけのもので、ファイル内容は同じ

  windows:
    name: Windows Package
    runs-on: windows-2022
    needs: create_release
    if: ${{ !failure() && !cancelled() }}
    steps:
      - name: setup msbuild
        uses: microsoft/setup-msbuild@v2
      - uses: actions/checkout@v4
      - name: get version
        id: get_version
        shell: pwsh
        run: |
          $version = (Get-Content aribb25/td.c | Select-String -Pattern '#define VERSION_STRING "(.*)"').Matches.Groups[1].Value
          echo "version=$version" >> $ENV:GITHUB_OUTPUT
      - name: build
        run: |
          msbuild arib_std_b25.sln /t:Build /p:Configuration=Release /p:Platform=Win32 /p:PlatformToolset=v142
          msbuild arib_std_b25.sln /t:Build /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v142
      - name: package
        run: |
          mkdir libaribb25/
          mkdir libaribb25/32bit/
          mkdir libaribb25/64bit/
          Copy-Item -Path ".\Win32\Release\*" -Destination ".\libaribb25\32bit\" -Recurse -Force
          Copy-Item -Path ".\x64\Release\*" -Destination ".\libaribb25\64bit\" -Recurse -Force
          Copy-Item -Path libaribb25\32bit\libaribb1.dll -Destination libaribb25\32bit\B1Decoder.dll -Force
          Copy-Item -Path libaribb25\64bit\libaribb1.dll -Destination libaribb25\64bit\B1Decoder.dll -Force
          Copy-Item -Path libaribb25\32bit\libaribb25.dll -Destination libaribb25\32bit\B25Decoder.dll -Force
          Copy-Item -Path libaribb25\64bit\libaribb25.dll -Destination libaribb25\64bit\B25Decoder.dll -Force
          7z a -tzip libaribb25_${{ steps.get_version.outputs.version }}_windows.zip libaribb25
      - name: upload to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: libaribb25_${{ steps.get_version.outputs.version }}_windows.zip
          overwrite: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

  deb-package:
    name: Debian Package
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            platform: linux/amd64
            arch: amd64
            cmake_flags: "-DUSE_AVX2=on"
          - os: ubuntu-24.04-arm
            platform: linux/arm64
            arch: arm64
            cmake_flags: ""
    runs-on: ${{ matrix.os }}
    needs: create_release
    if: ${{ !failure() && !cancelled() }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v3
      - name: build docker image
        uses: docker/build-push-action@v5
        with:
          context: .github/workflows/
          tags: ubuntu:build
          platforms: ${{ matrix.platform }}
          build-args: IMAGE=ubuntu:20.04
          cache-from: type=gha,scope=ubuntu-${{ matrix.arch }}
          cache-to: type=gha,scope=ubuntu-${{ matrix.arch }},mode=max
          load: true
      - name: build deb package
        run: |
          docker run --rm -i -v "$(pwd)":/work -w /work ubuntu:build bash -c \
            'cmake -B build ${{ matrix.cmake_flags }} -DCMAKE_INSTALL_PREFIX=/usr && cd build && make package'
      - name: upload to release
        if: startsWith(github.ref, 'refs/tags/')
        uses: shogo82148/actions-upload-release-asset@v1
        with:
          upload_url: ${{ needs.create_release.outputs.upload_url }}
          asset_path: build/libaribb25_*.deb
          overwrite: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
